
/*
    This website was inspired by: sadio.me
*/

html { 
	background-color: #22ac3d; 
	margin: 2.5px;
	margin-right: 400px;
	margin-left: 400px;
}

body{
	font-family: 'Quicksand', sans-serif;
	font-size: 12pt;
	line-height: 1.8em;
	color: #2d2d2d;
	display: inline-block;
	background-color: white; 
}


.container {
	padding-top: 6px;
	padding-right: 85px;	
	padding-left: 85px;
}

.title {
  font-weight: normal;
  font-family: "Lato", sans-serif;
  color: #006a52;
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: uppercase;
}

img {
	max-width: 80%;
    display: block;
    margin: 0 auto;

}

a:link, a:visited {
    color: #e6bf14;
    
}

a:hover {
    color: #b21f1f;
}

p {
	display: block;
    font-weight: bold;

}

.link-out {
    font-family: sans-serif;
    font-size: .75em;
    letter-spacing: .15em;
    text-transform: uppercase;
}

.copyright {
	font-family: sans-serif;
    font-size: .5em;
    letter-spacing: .15em;
    text-transform: uppercase;
    text-align: center;        	
}


@media only screen and (max-width: 1000px) {

	html { 
		background-color: #990000; 
		margin: 10px;
	}

	.container {
		padding-top: 6px;
		padding-right: 20px;	
		padding-left: 20px;
	}
}


#guyana {
    text-align:center;
    font-size: 13pt;
    font-weight: 900;
}







