body {
    background-color: #ededed;
    color: #777;
    background-image: none;
    background-position: top left;
    background-size: auto;
    background-attachment: scroll;
    background-repeat: repeat
}
body #canvas {
    background-color: rgba(255, 255, 255, 0)
}

#canvas {
    max-width: 900px;
    margin: 0px auto;
    padding: 20px
}

#header {
    margin-bottom: 12px
}

body {
    font-family: Helvetica, arial, sans-serif;
    font-weight: normal;
    line-height: 1.6em;
    font-size: 12px;
    font-family: "Josefin Sans";
    font-size: 20px;
    line-height: 1.2em;
    text-transform: none;
    text-decoration: none;
    font-weight: 400;
    font-style: normal
}

#logo,
#topNav {
    float: left
}

.site-title .logo {
    margin: 0;
    font-family: Oswald, arial, sans-serif;
    letter-spacing: 0px;
    font-family: "futura-pt";
    font-size: 46px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    line-height: 1.2em
}

body h1 {
    color: #222
}

body.site-title .logo a {
    color: #404040
}

body.site-title .logo a:hover {
    color: #444
}

body a,
body a:visited {
    color: #111
}

.site-title .logo {
    margin: 0;
    font-family: Oswald, arial, sans-serif;
    letter-spacing: 0px;
    font-family: "futura-pt";
    font-size: 46px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    line-height: 1.2em
}

.site-title .logo a {
    color: #404040
}

.logo-subtitle {
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: italic;
    line-height: 2em;
    font-size: 13px;
    text-transform: none;
    letter-spacing: 0px;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-style: normal;
    line-height: 0em;
    font-size: 19px;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 2.01px;
    color: #666765;
    margin-top: .7em;
    width: 100%
}

.layout-style-left #topNav {
    float: right
}

#topNav {
    position: relative;
    z-index: 890
}

#topNav nav,
#topNav ul,
#topNav li,
#topNav a {
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
    letter-spacing: 0px;
    font-family: "futura-pt";
    font-size: 13px;
    line-height: 1.6em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal
}
#topNav ul,
#topNav li {
    text-decoration: none !important
}


#topNav nav {
    float: left
}
#topNav nav li {
    float: left;
    position: relative;
    margin-right: 31px
}
#topNav nav li:last-child {
    margin-right: 0px
}
#topNav nav li a {
    display: inline-block;
    line-height: 26px
}
#topNav nav li:last-child a {
    margin-right: 0px
}
#topNav nav .folder-collection>a {
    cursor: pointer
}
#topNav nav .folder-collection .subnav {
    position: absolute;
    top: 100%;
    left: -15.5px;
    background: #ededed;
    height: 0;
    overflow: hidden;
    opacity: 1;
    z-index: 1000
}
#topNav nav .folder-collection ul {
    overflow: hidden;
    padding: 7.75px 0;
    display: block
}
#topNav nav .folder-collection ul li {
    margin: 0;
    display: block;
    width: 100%
}
#topNav nav .folder-collection ul li a {
    padding: 0;
    margin: 0;
    line-height: normal;
    white-space: nowrap;
    display: block;
    padding: 3.875px 15.5px
}
#topNav nav .folder-collection:hover .subnav,
#topNav nav .folder-collection .subnav:hover {
    height: auto !important
}

.page-borders-thick .page-divider {
    border-bottom-width: 4px
}

.page-divider {
    border-bottom: 1px solid #ddd
}

.sqs-layout > .sqs-row {
    margin-left: -17px;
    margin-right: -17px
}

.sqs-row {
    width: auto !important
}

.sqs-row:before,
.sqs-row:after {
    content: "";
    display: table
}

[class*=sqs-col]:last-child {
    padding-right: 0
}
.sqs-col-12 {
    width: 100%
}

[class*=sqs-col] {
    float: left
}

.extra-wrapper.page-header .sqs-layout .sqs-row:first-child [class*="sqs-col"] .sqs-block:first-child,
.extra-wrapper.page-header .sqs-layout.editing {
    margin-top: 14px
}
.extra-wrapper.page-footer .sqs-layout .sqs-row:last-child [class*="sqs-col"] .sqs-block:last-child,
.extra-wrapper.page-footer .sqs-layout.editing {
    margin-bottom: 14px
}

.sqs-layout:not(.sqs-editing)>.sqs-row:first-child>[class*=sqs-col]:first-child>.sqs-block:last-child,
.sqs-layout:not(.sqs-editing) .sqs-block+.sqs-row .sqs-block:not(.float):last-child {
    padding-bottom: 17px
}

.sqs-layout:not(.sqs-editing) .sqs-row .sqs-block:not(.float):first-child {
    padding-top: 0
}

[class*=sqs-col] .sqs-block {
    padding-left: 17px;
    padding-right: 17px
}

.sqs-block-html {
    clear: none
}

.sqs-block {
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
    outline: none;
    box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0);
    -webkit-transition: box-shadow .2s ease-in-out;
    -moz-transition: box-shadow .2s ease-in-out;
    -o-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out
}

#page {
    padding: 14px 0;
    opacity: 1;
    position: relative
}

.layout-style-left.index-item-layout-auto #projectPages .project.page-project,
.index-item-layout-left #projectPages .project.page-project {
    margin-right: 0
}

.layout-style-left.index-item-layout-auto #projectPages .project,
.index-item-layout-left #projectPages .project {
    margin-right: 300px
}

#projectPages .project {
    display: none
}

#projectThumbs {
    clear: both
}
#projectThumbs>.wrapper {
    width: 101.2%;
    margin-left: -1.2%;
    margin-top: -1.2%
}
#projectThumbs .project {
    float: left;
    margin-left: 1.1857707509881423%;
    margin-top: 1.2%;
    width: 32.147562582345195%;
    cursor: pointer;
    -webkit-transform: translatez(0)
}
#projectThumbs .project .project-image .intrinsic {
    opacity: .89;
    -webkit-transition: opacity .14s ease-out;
    transition: opacity .14s ease-out
}
#projectThumbs .project:hover .project-image .intrinsic {
    opacity: 1
}
#projectThumbs .project .project-image {
    background: #eee;
    margin-bottom: 1.2%
}
#projectThumbs .project .project-image .intrinsic {
    padding-bottom: 51%;
    line-height: 0;
    text-align: center;
    position: relative;
    overflow: hidden
}
#projectThumbs .project .project-image .content-fill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}
#projectThumbs .project .project-title {
    font-family: Georgia, serif;
    font-weight: normal;
    font-style: italic;
    line-height: 1.6em;
    font-size: 12px;
    text-transform: none;
    letter-spacing: 0px;
    font-family: Josefin Sans;
    font-weight: 600;
    font-style: normal;
    line-height: 2.07em;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: .46px;
    color: #f2f2f2
}
#projectThumbs .project .project-item-count {
    display: none
}
#projectThumbs .project:nth-child(3n+1) {
    clear: left
}
.thumbnail-layout-basic-grid #projectThumbs .project {
    position: relative
}