/*
 	  |\_/|  			cat? cats.
 	 / @ @ \      		she's allergic, ha
 	( > º < )    
 	 `>>x<<´   			by suren(dra)z
 	 /  O  \
*/
body {
	text-align: center;
	background-color: #F1F1F1;
	color: #4BAF4E;
	font-family: 'Quicksand', sans-serif;
    text-decoration:none;
}

a:link,
a:visited{
    text-decoration: none;
    color: #4BAF4E;

}

.suren {
	font-size: 80px;
    font-weight: 500;
}


h4{
    color:rgba(204, 2, 2, 0.78)

}
#origin {
    font-size: 40px;
    line-height: 10px;
}
li {
	font-size: 30px;
	text-align: center;
}
.work li{
	display: inline;
        font-size: 35px;
	text-align: justify;
}
li a:hover {
	color: #4BA4FB;
}
ul {
	list-style-type: none;
}

.myWork{
    font-size: 25px;
    
}
