body {
    font-family: Helvetica,arial,sans-serif;
    font-weight: normal;
    line-height: 1.6em;
    font-size: 12px;
    font-family: "Josefin Sans";
    font-size: 20px;
    line-height: 1.2em;
    text-transform: none;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
     background-color: #EDEDF4;
    color: #777;
    background-image: none;
    background-position: top left;
    background-size: auto;
    background-attachment: scroll;
    background-repeat: repeat;

}

div {
    display: block;
}

#canvas {
    max-width: 900px;
    margin: auto;
    padding: 20px;
} 

.header {
    margin-bottom: 12px;
}

.logo {
    float: left;
}

.logo-title{
    color: #222;
    letter-spacing: 0.0217391em;
    font-family: "futura-pt";
    font-size: 46px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    line-height: 1.2em;
}

.logo-subtitle{
    letter-spacing: 0.105263em;
    font-family: "Josefin Sans";
    font-weight: 400;
    font-style: normal;
    line-height: 0em;
    font-size: 19px;
    text-transform: capitalize;
    text-decoration: none;
    color: #666765;
    margin-top: .7em;
    width: 100%;
}

.navBar {
    float:right;
    position: relative;
    z-index: 890;
    font-family: "futura-pt";
    font-size: 13px;
    line-height: 1.6em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal
}
.navBar ul {
    text-decoration: none! important;
    list-style: none;
    list-style-image: none;

} 
.navBar li {
    float: left;
    position: relative;
    margin-right: 5px;
}